.App {
  display: grid;
  height: 100vh;
  background-color: #262d31;
  color: #dbdcdd;
  grid-template-columns: auto 1fr;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.overflow-y-auto {
  overflow-y: auto;
}

.text-center {
  text-align: center;
}